@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body{
    font-family: "Inter", sans-serif;
}
.plus-jakarta-font{
    font-family: "Plus Jakarta Sans", sans-serif;
}
.yoga-slider-first .slick-track{
    display: flex !important;
    gap: 22px !important;
}

/* *{
  outline: 2px solid red;
} */
.yoga-slider-first .slick-next {
  right: -40px !important;
}
.yoga-slider-first .slick-prev {
  left: -40px !important;
}

.next:hover path {
  fill: white;
}
.prev:hover path {
  fill: white;
}
.slick-track{
  display: flex !important;
  gap: 24px !important;
}
.second-row-slider .slick-track {
  gap: 40px !important;
  display: flex !important;
  min-height: 144px !important;
  align-items: center !important;
}
.second-row-slider .slick-track .slick-current {
  scale: 1.5;
  border-radius: 4px !important;
}
.slider-box .slick-track {
  display: flex !important;
  gap: 35px !important;
}
.slider-box .slick-track .slick-slide {
  max-width: 460px !important;
}